@model losol.EventR.Models.EventInfo

@{
    ViewData["Title"] = "Details";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">@Model.Name </h1>
        <p class="lead">@Model.Description</p>
        <p class="lead"><i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> @Model.StartTime.ToString("dddd") @Model.StartTime.ToString("M") - @Model.EndTime.Date.ToString("D")</p>
        <p class="lead"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> @Model.Location</p>
       </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                        <table class="table table-striped table-sm">
                            <tbody>
                                <tr>
                                    <td>Startdato</td>
                                    <td>@Model.StartTime.ToString("d")</td>
                                </tr>
                                <tr>
                                    <td>Sluttdato</td>
                                    <td>@Model.EndTime.ToString("d")</td>
                                </tr>
                                <tr>
                                    <td>P&aringmeldingsfrist</td>
                                    <td>@Model.LastEnrolmentDate.Value.ToString("d")</td>
                                </tr>
                                <tr>
                                    <td>Avmeldingsfrist</td>
                                    <td>@Model.LastWithdrawalDate.Value.ToString("d")</td>
                                </tr>
                                <tr>
                                    <td>Pris</td>
                                    <td>@Model.Price.ToString("C") </ td >
                                </tr>
                                <tr>
                                    <td>Antall deltakere</td>
                                    <td>@Model.MaxAttendees</ td >
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            <div class="col-md-8">
                <p>@Model.MoreInformation</p>
            </div>
        </div>
        <div>
            @if (User.IsInRole("Editor") || User.IsInRole("Administrator"))
            {
                <a asp-action="Edit" asp-route-id="@Model.Id">Rediger</a><span> | </span>
            }
            <a asp-action="Index">Vis alle kurs</a>
        </div>
    </div>
   

