@model losol.EventR.Models.EventInfo

@{
    Layout = "_LayoutFluid";
    ViewData["Title"] = "Details";
}

<div class="jumbotron jumbotron-fluid py-1 mt-0">
    <div class="container">
        <h1 class="display-3">@Model.Name </h1>
        <p class="lead">@Model.Description</p>
        <p class="lead">
            <i class="fa fa-fw fa-calendar-o" aria-hidden="true"></i> @Model.StartDate.ToString("dddd") @Model.StartDate.ToString("M") @if ((Model.EndDate != null) && (Model.StartDate != Model.EndDate))
            { <span>&#8211;&nbsp;@Model.EndDate.Value.ToString("D")</span>}
        </p>
@if (Model.Location != null)
{
        <p class="lead"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> @Model.Location</p>
}
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>Starter</td>
                            <td>
                                @Model.StartDate.ToString("d")
                                @if (Model.StartTime != null)
                                {
                                    <span>kl @Model.StartTime.Value.ToString("H:mm")</span>
                                }
                            </td>
                        </tr>
                        @if (Model.EndDate != null)
                        {
                            <tr>
                                <td>Slutter</td>
                                <td>
                                    @Model.EndDate.Value.ToString("d")
                                    @if (Model.EndTime != null)
                                    {
                                        <span>kl @Model.EndTime.Value.ToString("H:mm")</span>
                                    }
                                </td>
                            </tr>
                        }
                        @if (Model.LastEnrolmentDate != null)
                        {
                            <tr>
                                <td>P&aring;meldingsfrist</td>
                                <td>@Model.LastEnrolmentDate.Value.ToString("d")</td>
                            </tr>
                        }
                        @if (Model.LastWithdrawalDate != null)
                        {
                            <tr>
                                <td>Avmeldingsfrist</td>
                                <td>@Model.LastWithdrawalDate.Value.ToString("d")</td>
                            </tr>
                        }
                        <tr>
                            <td>Pris</td>
                            <td>@Model.Price.ToString("C") </td>
                        </tr>
                        <tr>
                            <td>Antall deltakere</td>
                            <td>@Model.MaxAttendees</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-8">
            @Html.Raw(Model.MoreInformation)
        </div>
    </div>
    <div class="no-link-decoration">
        @if (User.IsInRole("Editor") || User.IsInRole("Administrator"))
            {
            <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.EventInfoId">Rediger</a>
        }
        <a class="btn btn-success" asp-action="Index">Vis alle kurs</a>
    </div>
</div>
